<div class="container-fluid">
    <h2 class="text-center">FakeStore API</h2>
    <select>
        <option *ngFor="let item of Categories">{{item}}</option>
    </select>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of Products">
                <td>{{product.title}}</td>
                <td><img src="{{product.image}}" height="100" width="100"></td>
            </tr>
        </tbody>
    </table>
</div>