<div class="container-fluid">
    <h2>BMI Calculator</h2>
    <div class="progress">
        <div class="progress-bar bg-dark" style="width:510px;">
            < 52 low weight
        </div>
        <div class="progress-bar bg-primary" style="width:510px;">
            53 - 72 normal weight
        </div>
        <div class="progress-bar bg-dark" style="width:510px;">
            > 73 over weight
        </div>
    </div>
    <div class="bi bi-triangle-fill" [ngStyle]="BMIStatus">

    </div>
</div>