<h3>Filter Products</h3>
<ul class="list-unstyled">
    <li class="d-flex justify-content-between mb-2"> <span><input type="radio" class="form-check-input" name="category">All</span> <span class="badge bg-primary">{{AllCount}}</span></li>
    <li class="d-flex justify-content-between mb-2"> <span><input type="radio" class="form-check-input" name="category">Electronics</span> <span class="badge bg-primary">{{ElectronicCount}}</span></li>
    <li class="d-flex justify-content-between mb-2"> <span><input type="radio" class="form-check-input" name="category">Jewellery</span> <span class="badge bg-primary">{{JewelleryCount}}</span></li>
    <li class="d-flex justify-content-between mb-2"> <span><input type="radio" class="form-check-input" name="category">Men's Clothing</span> <span class="badge bg-primary">{{MensCount}}</span></li>
    <li class="d-flex justify-content-between"> <span><input type="radio" class="form-check-input" name="category">Women's Clothing</span> <span class="badge bg-primary">{{WomensCount}}</span></li>
</ul>
