<!-- <div class="container-fluid">
    <form #frmRegister="ngForm" (submit)="SubmitClick(frmRegister.value)">
        <h2>Registration Form</h2>
        <dl>
            <dt>User Name</dt>
            <dd><input type="text" name="UserName" ngModel #UserName="ngModel"></dd>
            <dt>Age</dt>
            <dd><input type="number" name="Age" ngModel #Age="ngModel"></dd>
            <dt>City</dt>
            <dd>
                <select name="City" ngModel #City="ngModel">
                    <option>Delhi</option>
                    <option>Hyd</option>
                    <option>Pune</option>
                </select>
            </dd>
        </dl>
        <button>Register</button>
    </form>

    <hr>
    <dl>
        <dt>User Name</dt>
        <dd>{{UserName.value}}</dd>
        <dt>Age</dt>
        <dd>{{Age.value}}</dd>
        <dt>City</dt>
        <dd>{{City.value}}</dd>
    </dl>
</div> -->

<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-3">
          <form #frmRegister="ngForm" (submit)="SubmitClick(frmRegister.value)">
              <h2>Register User</h2>
              <dl>
                  <dt>User Name</dt>
                  <dd><input name="UserName" required ngModel #UserName="ngModel" type="text"></dd>
                  <dt>Mobile</dt>
                  <dd><input name="Mobile" required  pattern="\+91\d{10}" ngModel #Mobile="ngModel" type="text"></dd>
                  <dt>City</dt>
                  <dd>
                      <select name="City" ngModel #City="ngModel">
                          <option>Delhi</option>
                          <option>Hyd</option>
                      </select>
                  </dd>
              </dl>
              <button [disabled]="frmRegister.invalid">Register</button>
              <button [disabled]="frmRegister.pristine">Save</button>
          </form>
      </div>
      <div class="col-9">
           <h3>Form State Services</h3>
           <dl>
              <dt>Pristine [Form is Untouched]</dt>
              <dd>{{frmRegister.pristine}}</dd>
              <dt>Dirty [Form Modified]</dt>
              <dd>{{frmRegister.dirty}}</dd>
              <dt>Valid [All Fields are valid]</dt>
              <dd>{{frmRegister.valid}}</dd>
              <dt>Invalid [Any one Field is not Valid]</dt>
              <dd>{{frmRegister.invalid}}</dd>
              <dt>Form Submitted</dt>
              <dd>{{frmRegister.submitted}}</dd>
           </dl>
      </div>
    </div>
  </div> -->



  <!-- Angular Error Object -->

  <div class="container-fluid">
    <form class="mt-2 p-4" #frmRegistration="ngForm">
        <h2>Register User</h2>
        <dl>
            <dt>User Name</dt>
            <dd><input type="text" required minlength="4" maxlength="10"  name="UserName" ngModel #UserName="ngModel"></dd>
            <dd class="text-danger" *ngIf="frmRegistration.submitted && UserName.invalid">
                <div *ngIf="UserName.errors?.['required']">User Name Required</div>
                <div *ngIf="UserName.errors?.['minlength']">User Name too short min 4 chars required</div>
                <div *ngIf="UserName.errors?.['maxlength']">User Name too long max 10 chars required</div>
                <!-- <span>User Name Invalid</span> -->
            </dd>

            <dt>Password</dt>
            <dd><input type="password" name="Password" ngModel #Password="ngModel" required pattern="(?=.*[A-Z])\w{4,15}"></dd>
            <dd class="text-danger" *ngIf="(frmRegistration.submitted && Password.invalid) || (Password.touched && Password.invalid )">
                <div *ngIf="Password.errors?.['required']">Password Required</div> 
                <div *ngIf="Password.errors?.['pattern']">Password 4 to 15 chars with at least 1 uppercase letter.</div>
            </dd>

            <dt>Mobile</dt>
            <dd><input type="text" name="Mobile" required pattern="\+91\d{10}" ngModel #Mobile="ngModel"></dd>
            <dd class="text-danger" *ngIf="frmRegistration.submitted && Mobile.invalid">
                <div *ngIf="Mobile.errors?.['required']">Mobile Required</div>
                <div *ngIf="Mobile.errors?.['pattern']">Invalid Mobile +91 and 10 digits</div>
            </dd>
            
            <dt>City</dt>
            <dd>
                <select (change)="CityChannged($event)" ngModel #City="ngModel"  name="City">
                    <Option value="-1">Select Your City</Option>
                    <Option value="Hyd">Hyd</Option>
                    <Option value="Pune">Pune</Option>
                    <Option value="Delhi">Delhi</Option>
                </select>
            </dd>
            <dd class="text-danger">{{CityError}}</dd>
        </dl>
        <button class="btn btn-primary">Register</button>
    </form>
  </div>
  