<div class="container-fluid">
    <header class="text-white mt-2 p-2 bg-dark d-flex justify-content-between">
        <div>
            <h2>Shopper.</h2>
        </div>
        <div class="nav">
            <a routerLink="home">Home</a>
            <a routerLink="mens">Men's Fashion</a>
            <a routerLink="womens">Women's Fashion</a>
            <a routerLink="jewelary">Jewelery</a>
            <a routerLink="electronics">Electronics</a>
            <a routerLink="admin">Admin Portal</a>

        </div>
        <div>
            <span class="bi bi-heart me-2"></span>
            <span class="bi bi-person me-2"></span>
            <span class="bi bi-search me-2"></span>
        </div>
    </header>
    <section class="mt-3">
        <router-outlet></router-outlet>
    </section>
</div> 